/* 
.loader {
	overflow: hidden;
	position: relative;
}

.wheel {
	fill: rgb(128, 128, 128);
	font-size: 100px;
	width: 100px;
	height: 100px;
	border-radius: 6em;
	text-align: center;
	animation: rolling 1s linear infinite;
}

#rim {
	fill: rgb(126, 126, 126);
}

#tire {
	fill: rgb(55, 55, 55);
}

.road {
	position: absolute;
	margin-top: -4px;
	width: 100%;
	height: 10px;
	border-radius: 5em;
	background-color: rgb(55, 55, 55);
	animation: road-move 2s linear infinite;
}

@keyframes rolling {
	to {
		transform: rotate(-360deg);
	}
}

@keyframes road-move {
	from {
		transform: translateX(-140%);
	}

	to {
		transform: translateX(100%);
	}
} */

.loader {
	display: inline-block;
	position: relative;
	animation: rotation 2s linear infinite;
	box-sizing: border-box;
	border: 5px solid;
	border-color: var(--color-gr-5) var(--color-gr-5) transparent transparent;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.loader::after,
.loader::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform-origin: center center;
	animation: rotationBack 0.7s linear infinite;
	box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;
	border: 4px solid;
	border-color: transparent transparent var(--color-gr-3) var(--color-gr-3);
	border-radius: 50%;
	width: 130px;
	height: 130px;
	content: '';
}
.loader::before {
	animation: rotation 1.5s linear infinite;
	border-color: var(--color-gr-6) var(--color-gr-6) transparent transparent;
	width: 110px;
	height: 110px;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotationBack {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.spinner {
	display: grid;
	animation: l23 1s infinite steps(12);
	border-radius: 50%;
	background:
		linear-gradient(0deg, rgb(217 217 217/50%) 30%, #f0f0f000 0 70%, rgb(94 94 94/100%) 0)
			50%/8% 100%,
		linear-gradient(90deg, rgb(240 240 240/25%) 30%, #f0f0f000 0 70%, rgb(203 200 194/75%) 0)
			50%/100% 8%;
	background-repeat: no-repeat;
	aspect-ratio: 1;
	width: 30px;
}
.spinner::before,
.spinner::after {
	grid-area: 1/1;
	transform: rotate(30deg);
	opacity: 0.915;
	border-radius: 50%;
	background: inherit;
	content: '';
}
.spinner::after {
	transform: rotate(60deg);
	opacity: 0.83;
}
@keyframes l23 {
	100% {
		transform: rotate(1turn);
	}
}
